@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:400,400i&display=swap&subset=latin-ext')

$family-sans-serif: "Open Sans", sans-serif
$family-primary: $family-sans-serif
$family-secondary: $family-sans-serif

$heading-family: "Lato", sans-serif

@import "colors"
@import "mixins"

@import "~bulma/bulma"

h1, h2, h3, h4
  font-family: $heading-family
