@font-face {
    font-family: 'Butler';
    font-style: normal;
    font-weight: normal;
    src: local('Butler'), local('Butler-Medium'), url('/fonts/Butler_Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: normal;
    src: local('Alegreya Italic'), local('Alegreya-Italic'), url('/fonts/Alegreya-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Sans'), local('Fira-Sans'), url('/fonts/FiraSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Fira Sans Italic'), local('Fira-Sans-Italic'), url('/fonts/FiraSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Fira Sans Bold'), local('Fira-Sans-Bold'), url('/fonts/FiraSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Fira Sans Bold Italic'), local('Fira-Sans-Bold-Italic'), url('/fonts/FiraSans-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: normal;
    src: local('THSarabunNew'), url('/fonts/thsarabunnew-webfont.woff') format('woff');
}

@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: bold;
    src: local('THSarabunNew'), url('/fonts/thsarabunnew_bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: normal;
    src: local('THSarabunNew'), url('/fonts/thsarabunnew_italic-webfont.woff') format('woff');

}

@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: bold;
    src: local('THSarabunNew'), url('/fonts/thsarabunnew_bold-webfont.woff') format('woff');
}
